* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    height: auto;
    display: flex;
    flex-direction: column;

}

.page-head {
    background-color: darkslategrey;
    height: 28vh;
}

.nav {
    float: right;
    margin-top: 8vh;
    margin-right: 2vw;
}

.nav-list {
    display: inline;
}

.logo-knap {
    border: 0.2vw solid black;
    border-radius: 100%;
    margin-right: 1vw;
    height: auto;
    width: 4vw;
}

.logo-knap:hover {
    border-radius: 100%;
    background-color: silver;
}

.photo-mig {
    margin-top: 2vh;
    margin-left: 1vw;
    border-radius: 25%;
    height: auto;
    width: 8vw;
}

.left-head {
    float: left;
}

.left-head-list {
    display: inline-block;
}

.TNavn {
    color: white;
    margin-left: 2vw;
    font-size: 2vw;
}

.T2navn {
    margin-top: 4vh;
    color: white;
    font-size: 1.5vw;
}